.wrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-gap: 1.5rem;
  grid-auto-rows: minmax(200px, 200px);
  padding: 5% 10%;
}
@media only screen and (max-width: 800px) {
  .wrapper {
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 15% 15% 15% 15% 15%;
  }
}

.box {
  border-radius: 30px;
}

.one {
  grid-column: span 2;
  grid-row: 1;
  background-color: #ffd166;
  padding: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 70%;
}
.one h2 {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  grid-column: span 2;
  grid-row: 1;
}
.one p {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  line-height: 1.2em; /* Hauteur de ligne standard */
  max-height: 11em; /* 5 lignes de texte, plus une marge pour les points de suspension */
  grid-column: 1;
  grid-row: 2;
}
.one img {
  padding-top: 3%;
  padding-bottom: 3%;
  object-fit: contain; /* Ensures the image maintains its aspect ratio */
  justify-self: center; /* Centers the image horizontally */
  align-self: center; /* Centers the image vertically */
  grid-column: 2;
  grid-row: 2;
}

.two {
  grid-column: auto;
  grid-row: span 2;
  background-color: #06d6a0;
  border-radius: 30px;
  padding: 10px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 35% 20% 45%;
}
.two h2 {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  grid-row: 2;
}
.two p {
  padding-left: 5%;
  grid-row: 3;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  line-height: 1.2em; /* Hauteur de ligne standard */
  max-height: 11em; /* 5 lignes de texte, plus une marge pour les points de suspension */
}
.two img {
  grid-row: 1;
  padding-top: 3%;
  padding-bottom: 3%;
  object-fit: contain; /* Ensures the image maintains its aspect ratio */
  justify-self: center; /* Centers the image horizontally */
  align-self: center; /* Centers the image vertically */
}

.three {
  grid-column: span 1;
  grid-row: span 2;
  background-color: #118ab2;
  border-radius: 30px;
  padding: 10px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 55% 30%;
}
.three h2 {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 2%;
  grid-row: 1;
}
.three p {
  padding-left: 5%;
  grid-row: 2;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  line-height: 1.2em; /* Hauteur de ligne standard */
  max-height: 11em; /* 5 lignes de texte, plus une marge pour les points de suspension */
}
.three img {
  grid-row: 3;
  padding-top: 3%;
  padding-bottom: 3%;
}

.four {
  grid-column: span 1;
  grid-row: span 1;
  background-color: #ef476f;
  border-radius: 30px;
  padding: 10px;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 30% 70%;
}
.four h2 {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 2%;
  grid-row: 1;
  grid-column: span 2;
  text-wrap: balance;
}
.four p {
  padding-left: 5%;
  grid-row: 2;
  grid-column: 1;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  line-height: 1.2em; /* Hauteur de ligne standard */
  max-height: 11em; /* 5 lignes de texte, plus une marge pour les points de suspension */
}
.four img {
  padding-top: 3%;
  padding-bottom: 3%;
  object-fit: contain; /* Ensures the image maintains its aspect ratio */
  justify-self: center; /* Centers the image horizontally */
  align-self: center; /* Centers the image vertically */
  grid-row: 2;
  grid-column: 2;
}

.five {
  grid-column: span 1;
  grid-row: span 1;
  background-color: #ffd166;
  border-radius: 30px;
  padding: 10px;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 30% 70%;
}
.five h2 {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 2%;
  grid-row: 1;
  grid-column: 1;
  text-wrap: balance;
}
.five p {
  padding-left: 5%;
  grid-row: 2;
  grid-column: span 2;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  line-height: 1.2em; /* Hauteur de ligne standard */
  max-height: 11em; /* 5 lignes de texte, plus une marge pour les points de suspension */
}
.five img {
  padding-top: 3%;
  padding-bottom: 3%;
  object-fit: contain; /* Ensures the image maintains its aspect ratio */
  justify-self: center; /* Centers the image horizontally */
  align-self: center; /* Centers the image vertically */
  grid-row: 1;
  grid-column: 2;
}

.six {
  grid-column: span 1;
  grid-row: span 1;
  background-color: #118ab2;
  border-radius: 30px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.six h2 {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 2%;
  grid-row: 1;
  grid-column: span 2;
  text-wrap: balance;
}
.six p {
  padding-left: 5%;
  grid-row: 2;
  grid-column: span 3;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  line-height: 1.2em; /* Hauteur de ligne standard */
  max-height: 11em; /* 5 lignes de texte, plus une marge pour les points de suspension */
}
.six img {
  padding-top: 3%;
  padding-bottom: 3%;
  object-fit: contain; /* Ensures the image maintains its aspect ratio */
  justify-self: center; /* Centers the image horizontally */
  align-self: center; /* Centers the image vertically */
  grid-row: 1;
  grid-column: 3;
}

.seven {
  grid-column: span 1;
  grid-row: span 1;
  background-color: #06d6a0;
  border-radius: 30px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.seven h2 {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 2%;
  grid-row: 1;
  grid-column: span 2;
  text-wrap: balance;
}
.seven p {
  padding-left: 5%;
  grid-row: 2;
  grid-column: span 3;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  line-height: 1.2em; /* Hauteur de ligne standard */
  max-height: 11em; /* 5 lignes de texte, plus une marge pour les points de suspension */
}
.seven img {
  padding-top: 3%;
  padding-bottom: 3%;
  object-fit: contain; /* Ensures the image maintains its aspect ratio */
  justify-self: center; /* Centers the image horizontally */
  align-self: center; /* Centers the image vertically */
  grid-row: 1;
  grid-column: 3;
}

.eight {
  grid-column: span 2;
  grid-row: span 1;
  background-color: #ef476f;
  border-radius: 30px;
  padding: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 70%;
}
.eight h2 {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  grid-column: span 2;
  grid-row: 1;
}
.eight p {
  padding-left: 5%;
  grid-column: 2;
  grid-row: 2;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  line-height: 1.2em; /* Hauteur de ligne standard */
  max-height: 11em; /* 5 lignes de texte, plus une marge pour les points de suspension */
}
.eight img {
  padding-top: 3%;
  padding-bottom: 3%;
  object-fit: contain; /* Ensures the image maintains its aspect ratio */
  justify-self: center; /* Centers the image horizontally */
  align-self: center; /* Centers the image vertically */
  grid-column: 1;
  grid-row: 2;
}

img {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

h2 {
  font-family: cursive;
  font-weight: bold;
}

p {
  font-family: cursive;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
}
