.wrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-gap: 1.5rem;
  grid-auto-rows: minmax(200px, 200px);
  padding: 5% 10%;
}
@media only screen and (max-width: 1200px) {
  .wrapper {
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 15% 15% 15% 15% 15%;
  }
}

.box {
  border-radius: 30px;
}

.one {
  grid-column: span 2;
  grid-row: span 1;
  background-color: #ffd166;
  padding: 10px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
}
.one h2 {
  grid-column: span 2;
  grid-row: 1;
}
.one p {
  grid-column: 1;
  grid-row: 2;
}
.one img {
  grid-column: 2;
  grid-row: 2;
}

.two {
  grid-column: auto;
  grid-row: span 2;
  background-color: #06d6a0;
  border-radius: 30px;
  padding: 10px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}
.two h2 {
  grid-row: 2;
}
.two p {
  grid-row: 3;
}
.two img {
  grid-row: 1;
}

.three {
  grid-column: span 1;
  grid-row: span 2;
  background-color: #118ab2;
  border-radius: 30px;
  padding: 10px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}
.three h2 {
  grid-row: 1;
}
.three p {
  grid-row: 2;
}
.three img {
  grid-row: 3;
}

.four {
  grid-column: span 1;
  grid-row: span 1;
  background-color: #ef476f;
  border-radius: 30px;
  padding: 10px;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
}
.four h2 {
  grid-row: 1;
  grid-column: 1;
  text-wrap: balance;
}
.four p {
  grid-row: 2;
  grid-column: span 2;
}
.four img {
  grid-row: 1;
  grid-column: 2;
}

.five {
  grid-column: span 1;
  grid-row: span 1;
  background-color: #ffd166;
  border-radius: 30px;
  padding: 10px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
}
.five h2 {
  grid-row: 1;
  grid-column: 2;
}
.five p {
  grid-row: 2;
  grid-column: span 2;
}
.five img {
  grid-row: 1;
  grid-column: 1;
}

.six {
  grid-column: span 1;
  grid-row: span 1;
  background-color: #118ab2;
  border-radius: 30px;
  padding: 10px;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
}
.six h2 {
  grid-row: 1;
  grid-column: 1;
}
.six p {
  grid-row: 2;
  grid-column: span 2;
}
.six img {
  grid-row: 1;
  grid-column: 2;
}

.seven {
  grid-column: span 1;
  grid-row: span 1;
  background-color: #06d6a0;
  border-radius: 30px;
  padding: 10px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 30% 70%;
}
.seven h2 {
  grid-row: 1;
  grid-column: 2;
}
.seven p {
  grid-row: 2;
  grid-column: span 2;
}
.seven img {
  grid-row: 1;
  grid-column: 1;
}

.eight {
  grid-column: span 2;
  grid-row: span 1;
  background-color: #ef476f;
  padding: 10px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
}
.eight h2 {
  grid-column: span 2;
  grid-row: 1;
}
.eight p {
  grid-column: 2;
  grid-row: 2;
}
.eight img {
  grid-column: 1;
  grid-row: 2;
}

img {
  margin-top: 8%;
  margin-bottom: 8%;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  object-fit: contain; /* Ensures the image maintains its aspect ratio */
  justify-self: center; /* Centers the image horizontally */
  align-self: center; /* Centers the image vertically */
}

h2 {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 5%;
  font-family: cursive;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
}

p {
  font-family: cursive;
  text-align: justify;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 2%;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  line-height: 1.2em; /* Hauteur de ligne standard */
  max-height: 11em; /* 5 lignes de texte, plus une marge pour les points de suspension */
}

/*
-----
  Version une seule colonne !
-----
*/

@media only screen and (max-width: 800px) {
  .wrapper {
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10%;
  }

  .one {
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .one h2 {
    grid-column: 1;
    grid-row: 1;
  }
  .one p {
    grid-column: 1;
    grid-row: 2;
  }
  .one img {
    grid-column: 1;
    grid-row: 3;
  }

  .two {
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .two h2 {
    grid-column: 1;
    grid-row: 1;
  }
  .two p {
    grid-column: 1;
    grid-row: 2;
  }
  .two img {
    grid-column: 1;
    grid-row: 3;
  }

  .three {
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .three h2 {
    grid-column: 1;
    grid-row: 1;
  }
  .three p {
    grid-column: 1;
    grid-row: 2;
  }
  .three img {
    grid-column: 1;
    grid-row: 3;
  }

  .four {
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .four h2 {
    grid-column: 1;
    grid-row: 1;
  }
  .four p {
    grid-column: 1;
    grid-row: 2;
  }
  .four img {
    grid-column: 1;
    grid-row: 3;
  }

  .five {
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .five h2 {
    grid-column: 1;
    grid-row: 1;
  }
  .five p {
    grid-column: 1;
    grid-row: 2;
  }
  .five img {
    grid-column: 1;
    grid-row: 3;
  }

  .six {
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .six h2 {
    grid-column: 1;
    grid-row: 1;
  }
  .six p {
    grid-column: 1;
    grid-row: 2;
  }
  .six img {
    grid-column: 1;
    grid-row: 3;
  }

  .seven {
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .seven h2 {
    grid-column: 1;
    grid-row: 1;
  }
  .seven p {
    grid-column: 1;
    grid-row: 2;
  }
  .seven img {
    grid-column: 1;
    grid-row: 3;
  }

  .eight {
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .eight h2 {
    grid-column: 1;
    grid-row: 1;
  }
  .eight p {
    grid-column: 1;
    grid-row: 2;
  }
  .eight img {
    grid-column: 1;
    grid-row: 3;
  }
}
