<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <div class="container-fluid">

    <a class="navbar" href="#">
      <img src="assets/spiral.png" height="40" alt="" loading="lazy" />
    </a>


    <div class="dropdown">
      <button class="dropbtn" routerLink="/sinformer">{{a}}
        <i class="fa fa-caret-down"></i> <!-- This line of code represents an icon for a downward arrow. -->
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        <a href="#">Link 4</a>
        <a href="#">Link 5</a>
        <a href="#">Link 6</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn" routerLink="/reduire">{{b}}
        <i class="fa fa-caret-down"></i> <!-- This line of code represents an icon for a downward arrow. -->
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        <a href="#">Link 4</a>
        <a href="#">Link 5</a>
        <a href="#">Link 6</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn" routerLink="/reutiliser">{{c}}
        <i class="fa fa-caret-down"></i> <!-- This line of code represents an icon for a downward arrow. -->
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        <a href="#">Link 4</a>
        <a href="#">Link 5</a>
        <a href="#">Link 6</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn" routerLink="/substituer">{{d}}
        <i class="fa fa-caret-down"></i> <!-- This line of code represents an icon for a downward arrow. -->
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        <a href="#">Link 4</a>
        <a href="#">Link 5</a>
        <a href="#">Link 6</a>
      </div>
    </div>
  </div>
  <div class='admin'>
    <a class="a-admin" [routerLink]="['login']" *ngIf="!(isLoggedIn$ | async)">
      <img src="assets/default.png" height="40" alt="Log-in" loading="eager" />
    </a>
    <a class="a-admin" [routerLink]="['resources/create']" *ngIf="(isLoggedIn$ | async)">
      <img src="assets/add.png" height="40" alt="Log-out" loading="eager" />
    </a>
    <button *ngIf="(isLoggedIn$ | async)" (click)="logout()">
      <img src="assets/disconnect.png" height="40" alt="Log-out" loading="eager" />
    </button>
  </div>
</nav>