<div>
      <h2 style="text-align: center;">{{category|uppercase}}</h2>
</div>

<div class="wrapper">
      <a *ngFor="let resource of resources; let i = index" class="box box-link"
            [ngClass]="boxes[i % boxes.length]?.value" href="{{resource.link}}" target="_blank">

            <h2 [routerLink]="['/resources', resource.id, 'edit']" appAdjustFontSize>{{resource.title}}</h2>
            <p>{{resource.body}}</p>
            <a class="wrapper-img">
                  <img class="resource-img" src="{{resource.imageUrl}}" alt="Image Un">
            </a>

      </a>
</div>