.wrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr;
  grid-gap: 1.5rem;
  grid-auto-rows: minmax(200px, auto);
  padding: 5% 10%;
}

.box-link {
  text-decoration: none; /* Supprime le soulignement du lien */
  color: inherit; /* Utilisez la couleur par défaut du texte */
}
.box {
  border-radius: 30px;
}
.wrapper-img {
  margin-left: 10px;
  margin-right: 10px;
  justify-self: center; /* Centre horizontalement */
  align-self: center; /* Centre verticalement */
}
.resource-img {
  max-height: 11em;
  max-width: 100%;
  border-radius: 10px;
  object-fit: contain; /* Ensures the image maintains its aspect ratio */
  align-self: center; /* Centers the image vertically */
}

h2 {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 5%;
  text-wrap: balance;
  font-family: cursive;
  font-weight: bold;
  font-size: 40px;
  align-self: center; /* Centre verticalement */
}

p {
  font-family: cursive;
  font-size: 1.2em;
  text-align: justify;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 2%;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  line-height: 1.2em; /* Hauteur de ligne standard */
  max-height: 11em; /* 5 lignes de texte, plus une marge pour les points de suspension */
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight {
  border-radius: 30px;
  padding: 10px;
  display: grid;
}

.one {
  grid-column: span 2;
  grid-row: span 1;
  background-color: #ffd166;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
}
.one h2 {
  grid-column: span 2;
  grid-row: 1;
}
.one p {
  grid-column: 1;
  grid-row: 2;
}
.one img {
  grid-column: 2;
  grid-row: 2;
}

.two {
  grid-column: auto;
  grid-row: span 2;
  background-color: #06d6a0;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}
.two h2 {
  grid-row: 2;
}
.two p {
  grid-row: 3;
}
.two img {
  grid-row: 1;
}

.three {
  grid-column: span 1;
  grid-row: span 2;
  background-color: #118ab2;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}
.three h2 {
  grid-row: 1;
}
.three p {
  grid-row: 2;
}
.three img {
  grid-row: 3;
}

.four {
  grid-column: span 1;
  grid-row: span 1;
  background-color: #ef476f;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
}
.four h2 {
  grid-row: 1;
  grid-column: 1;
}
.four p {
  grid-row: 2;
  grid-column: span 2;
}
.four img {
  grid-row: 1;
  grid-column: 2;
}

.five {
  grid-column: span 1;
  grid-row: span 1;
  background-color: #ffd166;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
}
.five h2 {
  grid-row: 1;
  grid-column: 2;
}
.five p {
  grid-row: 2;
  grid-column: span 2;
}
.five img {
  grid-row: 1;
  grid-column: 1;
}

.six {
  grid-column: span 1;
  grid-row: span 1;
  background-color: #118ab2;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
}
.six h2 {
  grid-row: 1;
  grid-column: 1;
}
.six p {
  grid-row: 2;
  grid-column: span 2;
}
.six img {
  grid-row: 1;
  grid-column: 2;
}

.seven {
  grid-column: span 1;
  grid-row: span 1;
  background-color: #06d6a0;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
}
.seven h2 {
  grid-row: 1;
  grid-column: 2;
}
.seven p {
  grid-row: 2;
  grid-column: span 2;
}
.seven img {
  grid-row: 1;
  grid-column: 1;
}

.eight {
  grid-column: span 2;
  grid-row: span 1;
  background-color: #ef476f;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
}
.eight h2 {
  grid-column: span 2;
  grid-row: 1;
}
.eight p {
  grid-column: 2;
  grid-row: 2;
}
.eight img {
  grid-column: 1;
  grid-row: 2;
}

/*
-----
  Version avec deux colonnes !
-----
*/

@media only screen and (max-width: 1200px) {
  .wrapper {
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 15% 15% 15% 15% 15%;
  }

  .wrapper-img {
    margin-right: 10%;
    margin-left: 10%;
  }

  /* Styles spécifiques pour chaque boîte */

  .one,
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven,
  .eight {
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    grid-template-rows: auto;
  }

  .one,
  .three,
  .five,
  .seven {
    grid-template-columns: 70% 30%;
  }
  .two,
  .four,
  .six,
  .eight {
    grid-template-columns: 30% 70%;
  }
  .one h2,
  .three h2,
  .five h2,
  .seven h2 {
    grid-row: 1;
    grid-column: 1;
  }
  .two h2,
  .four h2,
  .six h2,
  .eight h2 {
    grid-row: 1;
    grid-column: 2;
  }
  .one p,
  .two p,
  .three p,
  .four p,
  .five p,
  .six p,
  .seven p,
  .eight p {
    grid-row: 2;
    grid-column: span 2;
  }
  .one img,
  .three img,
  .five img,
  .seven img {
    grid-row: 1;
    grid-column: 2;
  }
  .two img,
  .four img,
  .six img,
  .eight img {
    grid-row: 1;
    grid-column: 1;
  }
}

/*
-----
  Version une seule colonne !
-----
*/

@media only screen and (max-width: 800px) {
  .wrapper {
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10%;
  }

  p {
    font-family: cursive;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 2%;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    line-height: 1.2em;
    max-height: 15.6em;
  }

  /* Specific style for each box */
  .one,
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven,
  .eight {
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
  }

  .one h2,
  .two h2,
  .three h2,
  .four h2,
  .five h2,
  .six h2,
  .seven h2,
  .eight h2 {
    grid-row: 1;
    grid-column: 1;
  }

  .one p,
  .two p,
  .three p,
  .four p,
  .five p,
  .six p,
  .seven p,
  .eight p {
    grid-row: 2;
    grid-column: span 2;
  }

  .one img,
  .two img,
  .three img,
  .four img,
  .five img,
  .six img,
  .seven img,
  .eight img {
    grid-row: 1;
    grid-column: 2;
  }
}
