<div class="container">
  <h1>{{ pageTitle }}</h1>
  <form (ngSubmit)="onSubmit()" #resourceForm="ngForm">
    <label for="title">Titre:</label>
    <div *ngIf="resourceForm.submitted && !resource.title" class="error-text">Le titre est requis.</div>
    <input type="text" id="title" name="title" [(ngModel)]="resource.title" maxlength="85" required>

    <label for="body">Description:</label>
    <div *ngIf="resourceForm.submitted && !resource.body" class="error-text">La description est requise.</div>
    <textarea id="body" name="body" [(ngModel)]="resource.body" rows="4" maxlength="400" required></textarea>

    <label for="link">Lien:</label>
    <div *ngIf="resourceForm.submitted && !resource.link" class="error-text">Le lien est requis.</div>
    <input type="url" id="link" name="link" [(ngModel)]="resource.link" required>

    <label for="imageUrl">URL de l'image:</label>
    <div *ngIf="resourceForm.submitted && !resource.imageUrl" class="error-text">L'URL de l'image est requise.</div>
    <input type="url" id="imageUrl" name="imageUrl" [(ngModel)]="resource.imageUrl" required>


    <fieldset class="tags-container">
      <legend>Tags:</legend>
      <label>
        <input type="checkbox" id="sinformer" name="tags" [(ngModel)]="sinformerChecked"
          [checked]="isTagSelected('sinformer')" value="sinformer">
        S'informer
      </label>
      <label>
        <input type="checkbox" id="reduire" name="tags" [(ngModel)]="reduireChecked"
          [checked]="isTagSelected('reduire')" value="reduire">
        Réduire
      </label>
      <label>
        <input type="checkbox" id="reutiliser" name="tags" [(ngModel)]="reutiliserChecked"
          [checked]="isTagSelected('reutiliser')" value="reutiliser">
        Réutiliser
      </label>
      <label>
        <input type="checkbox" id="substituer" name="tags" [(ngModel)]="substituerChecked"
          [checked]="isTagSelected('substituer')" value="substituer">
        Substituer
      </label>
    </fieldset>


    <div class="search-bar">
      <input type="text" id="tagSearch" placeholder="Rechercher un tag">
      <input type="submit" value="Ajouter">
    </div>

    <input type="submit" value="Envoyer">
    
    <div *ngIf="isEditing" class="delete-div">
      <p class="delete-warning">Supprimer la ressource est irréversible.</p>
      <button type="button" class="delete-button" (click)="deleteResource()">Supprimer</button>
    </div>
  </form>

</div>