body,
.container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f7;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="url"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  min-height: 100px; /* taille minimale */
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.delete-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: rgba(250, 6, 6, 0.432);
  padding: 10px;
  border-radius: 5px;
}

.delete-button {
  background-color: red;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ce0606;
}

.delete-warning {
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
}

.tags-container label {
  margin-right: 20px;
}

.search-bar {
  margin-top: 10px;
}

.search-bar input[type="text"] {
  padding: 5px;
  width: 200px;
  margin-right: 10px;
}

.search-bar input[type="submit"] {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-text {
  font-size: smaller;
  color: red;
}
