<br/>

<div id={{inform.title}} class="container py-6"> <!-- id allow to go directly to location of the content -->
    <div class="row flex-lg-row-reverse align-items-center g-5">
		<div class="col-10 mx-auto col-sm-8 col-lg-6">
			<img src={{inform.img}} class="d-block mx-lg-auto img-fluid" alt="" width="40%" loading="lazy"> <!-- link of the image -->
		</div>
		<div class="col-lg-6">
			<div class="lc-block mb-3">
				<div editable="rich">
					<h2 class="fw-bold display-5">{{inform.title}}</h2> <!-- title -->
				</div>
			</div>

			<div class="lc-block mb-3">
				<div editable="rich">
					<p class="lead">{{inform.description}}</p> <!-- description -->
				</div>
			</div>

			<!-- buttons -->
			<div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start"><a class="btn btn-primary px-4 me-md-2" href="#" role="button">Click me, I'm a button</a>
				<a class="btn btn-outline-secondary px-4" href="#" role="button">Click me, I'm a button</a>
			</div>

		</div>
    </div>
</div>

<br/>
<br/>
<br/>

<div id={{reduce.title}} class="container py-6">
    <div class="row flex-lg-row-reverse align-items-center g-5">
		<div class="col-10 mx-auto col-sm-8 col-lg-6">
			<img src={{reduce.img}} class="d-block mx-lg-auto img-fluid" alt="" width="40%" loading="lazy">
		</div>
		<div class="col-lg-6">
			<div class="lc-block mb-3">
				<div editable="rich">
					<h2 class="fw-bold display-5">{{reduce.title}}</h2>
				</div>
			</div>

			<div class="lc-block mb-3">
				<div editable="rich">
					<p class="lead">{{reduce.description}}</p>
				</div>
			</div>
		</div>
    </div>
</div>

<br/>
<br/>
<br/>

<div id={{reuse.title}} class="container py-6">
    <div class="row flex-lg-row-reverse align-items-center g-5">
		<div class="col-10 mx-auto col-sm-8 col-lg-6">
			<img src={{reuse.img}} class="d-block mx-lg-auto img-fluid" alt="" width="40%" loading="lazy">
		</div>
		<div class="col-lg-6">
			<div class="lc-block mb-3">
				<div editable="rich">
					<h2 class="fw-bold display-5">{{reuse.title}}</h2>
				</div>
			</div>

			<div class="lc-block mb-3">
				<div editable="rich">
					<p class="lead">{{reuse.description}}</p>
				</div>
			</div>
		</div>
    </div>
</div>

<br/>
<br/>
<br/>

<div id={{substitute.title}} class="container py-6">
    <div class="row flex-lg-row-reverse align-items-center g-5">
		<div class="col-10 mx-auto col-sm-8 col-lg-6">
			<img src={{substitute.img}} class="d-block mx-lg-auto img-fluid" alt="" width="40%" loading="lazy">
		</div>
		<div class="col-lg-6">
			<div class="lc-block mb-3">
				<div editable="rich">
					<h2 class="fw-bold display-5">{{substitute.title}}</h2>
				</div>
			</div>

			<div class="lc-block mb-3">
				<div editable="rich">
					<p class="lead">{{substitute.description}}</p>
				</div>
			</div>
		</div>
    </div>
</div>

<br/>


<script>
var onScrollHandler = function() {
	var newImageUrl = yourImageElement.src;
	var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
	if (scrollTop > 100) {
		newImageUrl = "planet.png"
	}
	if (scrollTop > 200) {
		newImageUrl = "planet2.jpg"
	}
	if (scrollTop > 300) {
		newImageUrl = "planet3.jpg"
	}
	yourImageElement.src = newImageUrl;
};
object.addEventListener ("scroll", onScrollHandler);
</script>



