<div class="background-image">
    <div class="welcome-text">
        <h1>Spiral</h1>
        <p>Agrégateurs d'actions Simple, Positives, Impactantes, Responsables, Allégées et Libres</p>
    </div>
</div>


<div class="container" (scroll)="onScroll($event)">
    <div class="image-container">
        <img [src]="currentImage">
    </div>
    <div class="text-container">
        <div class="theme-explaination-sinformer">
            <h2>S'informer</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nesciunt non nihil architecto? Impedit
                nobis ex, aut, aliquam nihil labore ut, perspiciatis nisi quasi sunt nulla est illo excepturi enim?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nesciunt non nihil architecto? Impedit
                nobis ex, aut, aliquam nihil labore ut, perspiciatis nisi quasi sunt nulla est illo excepturi enim?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nesciunt non nihil architecto? Impedit
                nobis ex, aut, aliquam nihil labore ut, perspiciatis nisi quasi sunt nulla est illo excepturi enim?</p>
        </div>
        <div class="theme-explaination-reduire">
            <h2>Réduire</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nesciunt non nihil architecto? Impedit
                nobis ex, aut, aliquam nihil labore ut, perspiciatis nisi quasi sunt nulla est illo excepturi enim?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nesciunt non nihil architecto? Impedit
                nobis ex, aut, aliquam nihil labore ut, perspiciatis nisi quasi sunt nulla est illo excepturi enim?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nesciunt non nihil architecto? Impedit
                nobis ex, aut, aliquam nihil labore ut, perspiciatis nisi quasi sunt nulla est illo excepturi enim?</p>
        </div>
        <div class="theme-explaination-reutiliser">
            <h2>Réutiliser</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nesciunt non nihil architecto? Impedit
                nobis ex, aut, aliquam nihil labore ut, perspiciatis nisi quasi sunt nulla est illo excepturi enim?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nesciunt non nihil architecto? Impedit
                nobis ex, aut, aliquam nihil labore ut, perspiciatis nisi quasi sunt nulla est illo excepturi enim?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nesciunt non nihil architecto? Impedit
                nobis ex, aut, aliquam nihil labore ut, perspiciatis nisi quasi sunt nulla est illo excepturi enim?</p>
        </div>
        <div class="theme-explaination-substituer">
            <h2>Substituer</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nesciunt non nihil architecto? Impedit
                nobis ex, aut, aliquam nihil labore ut, perspiciatis nisi quasi sunt nulla est illo excepturi enim?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nesciunt non nihil architecto? Impedit
                nobis ex, aut, aliquam nihil labore ut, perspiciatis nisi quasi sunt nulla est illo excepturi enim?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nesciunt non nihil architecto? Impedit
                nobis ex, aut, aliquam nihil labore ut, perspiciatis nisi quasi sunt nulla est illo excepturi enim?</p>
        </div>
    </div>
</div>